.container{

    border: 2px solid black;
    height: 325px;
    width: 100%;
    /* initialize the container as a flex box */
    display: flex;

    /* flex properties for flex container */

    flex-direction: row; /*(default value of flex-direction is row)*/

    /* flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */

    /* flex-wrap: wrap;/*(default value of flex-wrap is nowrop)*/
    /* flex-wrap: wrap-reverse; */

    flex-flow: row wrap;/*(flex-direction + flex-wrap 2 ta ak sathe e lekha jay ) */



    /*justify-content will justify the content in horizontal direction*/
    justify-content: center;/*(sob box center a aisa pore , ja age korte jamela hoito )*/
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /*align-items will justify the content in vertical direction*/
    /*align-items:center;
    align-items:flex-start;(default value)
    align-items:flex-end;*/
    align-items: stretch;

}


.item{
    background-color: tomato;
    border: 2px solid green;
    margin: 10px;
    padding: 5px;
    height: 100px;
    width: 100px;
}

/*flex properties for a flex item*/

#item-1{
    order: 2;/*higher the order, later it shous up in the container(Jar Order besi se sobar sese thake. Tai item-3 sobar sese jabe, tar age thakbe item-1)*/ 

    flex-grow: 2;
    flex-shrink: 2;

}
#item-2{

    flex-grow: 3;
    flex-shrink: 3;
}

#item-3{
    order: 40;/*(Akhane item-3 er order item-1 er theke besi , Tai item-3 sobar sese jabe, tar age thakbe item-1)*/
    flex-basis: 150px;/*when flex-direction is set to row, flex-basis will control width And when flex-direction is set to colomn , flex-basis: will control height...*/
}

#item-4{

    flex: 2 2 150px;/*Specifies the components of a flexible length: the flex grow factor and flex shrink factor, and the flex basis. Orthat flex-grow, lex-shrink, flex-basis 3 ta ak e item a dorkar porle alada vabe na likhe ak sathe flex er moddhe lekha jay .. */

    align-self: flex-end;/*Allows the default alignment along the cross axis to be overridden for individual flex items. Er fole sudho ai item ta sese maje kinare niye jaoa jay.*/
}

#item-55{

    flex: 2 2 150px;/*Specifies the components of a flexible length: the flex grow factor and flex shrink factor, and the flex basis. Orthat flex-grow, lex-shrink, flex-basis 3 ta ak e item a dorkar porle alada vabe na likhe ak sathe flex er moddhe lekha jay .. */

    align-self: flex-end;/*Allows the default alignment along the cross axis to be overridden for individual flex items. Er fole sudho ai item ta sese maje kinare niye jaoa jay.*/
}